h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h4 {
    text-align: center;
}

.card {
    margin-bottom: 25px;
    margin-top: 25px;
}